<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>the individual posts page</title>
</head>
<body>
	<div>
		<%= @post.name %><br>
		<%= @post.date %><br>
		<%= @post.text %><br>
		<%= @post.category %><br>
		<%= @post.author %><br>

	</div>
</body>
</html>